.main-text {
  font-family: "Google Sans", Roboto, var(--noto-ff), Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
}

.txt-sm {
  font-size: revert;
}
