.image-div {
  height: 250px;
  background-image: url("/public/image/istockphoto-1150524827-170667a.jpg");
}

.searchbar {
  background-color: #fff;
  height: 48px;
  width: 367px;
  position: fixed;
  top: 0;
  border: 2px solid rgb(255, 253, 253);
  border-radius: 12px;
}

.vw {
  width: 65px;
}

.madras-center {
  text-align: center;
}
