.search-edit {
  width: 351px;
  height: 35px;
  border-radius: 10px;
}

.img {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 10px;
}

.edit-button {
  border-radius: 30px;
}
